.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;

  background: linear-gradient(
    172deg,
    rgba(36, 38, 32, 1) 0%,
    rgba(55, 59, 65, 1) 25%,
    rgba(36, 38, 32, 1) 100%
  );

  @media (max-width: 900px) {
    padding: 0;
    background: transparent;
  }
}

.about-container {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.about-skills {
  flex: 1;
  @media (max-width: 900px) {
    order: 2;
  }
}

.about-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  p {
    font-size: clamp(1.8rem, 3vw, var(--p-size));
  }
}

.icon-list {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(2rem, 10vw, 4.5rem);

  @media (max-width: 900px) {
    padding: 0;
    justify-content: center;
  }
}

.icon {
  list-style: none;
  width: clamp(4rem, 10vw, 7rem);
}
